# Add any directories, files, or patterns you don't want to be tracked by version control
*.jpg
.DS_Store
.html
add
*.png
.irb-history
!allure-commandline/bin/allure-report/data/attachments/.*
*.html
.ruby-version
*.html
*.log
!.idea/.*
.idea/*
!.idea/*
!.reports/*
/.idea/*
.idea/*
reports/*